<section class="subscriptions">
    <div class="subscriptions__wrapper">
        <div class="subscriptions__grid">
            <p>Have an account? <a>Log in</a> for a full list of your Topcon apps and services here.</p>
            <h3><%= this.category %></h3>
        </div>
        <% for(var m=0; m<this.subscriptions.length; m++) { %>
            <div class="subscriptions__cat">
                <h4 class="subscriptions__menu <%= this.subscriptions[m].active ? 'subscriptions__active' : '' %>"><%= this.subscriptions[m].categoryLabel %></h4>
                <ul>
                    <% for(var i=0; i<this.subscriptions[m].menu.length; i++) { %>
                        <li class="subscriptions__menu-list <%= this.subscriptions[m].menu[i].active ? 'subscriptions__active' : '' %>">
                            <a href='<%= this.subscriptions[0].menu[i].link %>'>
                                <%= this.subscriptions[m].menu[i].label %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>
            <% } %>
    </div>
    <% include register-product %>
</section>
